@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box;
}

.navbar{
    background-color: #CF2B2B;
    height: 92px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 2;
}

body {
    background-color: #E5E5E5;
    height: 100%;
}

.navbar h3{
    font-size: 44px;
    font-weight: 400;
    font-family: 'Righteous', cursive;
}

.navbar p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.driveneats {
    margin-left: 21px;
}

.cardapio h5 {
    margin-bottom: 17px;
    font-size: 26px;
    font-family: 'Righteous', cursive;
    color: #333333;
    font-weight: 400;
}

.escolhas {
    margin: 123px 0px 108px 19px;
}

.opcoes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.cardapio {
    margin-top: 27px;
}

.opcao strong {
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-weight: 700;
}

.opcao {
    background-color: white;
    border-radius: 9px;
    width: 175px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 14px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    flex-shrink: 0;
    position: relative;
}

.opcao img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.selecionado {
    border: 5px solid #32B72F;
    box-sizing: border-box;
}

.descricao {
    color: #A6A6A6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.preco {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.botao-select {
    margin-top: 0px;
    width: 100%;
    height: 92px;
    background-color: white;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
}


.botao-select button {
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #CBCBCB;
    border: 0px;
    box-sizing: border-box;
    color: white;
    width: 90%;
    height: 61px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 15%;
    text-align: center;
}

.botao-select .verde {
    background-color:  #32B72F;
}

.escondido {
    display: none;
}

.selecionado ion-icon {
    position: absolute;
    color: #32B72F;
    z-index: 1;
    height: 15.5px;
    width: 15.5px;
    right: 12px;
    bottom: 12px;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 61px;
}